<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="title">
            <a href="#">GENERAL</a>
        </li>
        <li class="active">
            <a href="#"><i class="fa fa-fw fa-calendar"></i> Calendars</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-compass"></i> Buttons</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-cogs"></i> Promotional Automation</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-globe"></i> International</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-file"></i> Subscriber Pages</a>
        </li>
        <li class="title">
            <a href="#">SOCIAL</a>
        </li>
        <li class="active">
            <a href="#"><i class="fa fa-fw fa-twitter"></i> Twitter Handles</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
